WebContent/WEB-INF/resources/input/dmp schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Author">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactPerson">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Author" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContactPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ContactPerson" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CSVFile">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:short" name="rows" use="optional"/>
          <xs:attribute type="xs:byte" name="columns" use="optional"/>
          <xs:attribute type="xs:string" name="separator" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="File">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
          <xs:attribute type="xs:string" name="format"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="HTMLFile">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="required"/>
          <xs:attribute type="xs:string" name="format" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="InputData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CSVFile" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransformationScripts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="File"/>
      </xs:sequence>
      <xs:attribute name="language">
	    <xs:simpleType>
          <xs:restriction base="xs:string">
			  <xs:enumeration value="R"/>
			  <!--<xs:enumeration name="Java" type="xs:string"/> -->
			  <!--<xs:enumeration name="python" type="xs:string"/>-->
          </xs:restriction>
        </xs:simpleType>
	  </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="HTMLFile" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="storedUntil" type="xs:date"/>
  <xs:element name="encryption">
    <xs:simpleType>
      <xs:restriction base="xs:string">
		  <xs:enumeration value="RSA"/>
		  <xs:enumeration value="DES"/>
		  <xs:enumeration value="AES"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Backup">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="type" use="required">
		    <xs:simpleType>
			  <xs:restriction base="xs:string">
				  <xs:enumeration value="localBackup"/>
				  <xs:enumeration value="onlineBackup"/>
			  </xs:restriction>
		    </xs:simpleType>
		  </xs:attribute>
          <xs:attribute type="xs:string" name="responsiblePerson" use="required"/>
          <xs:attribute type="xs:string" name="link" use="optional"/>
          <xs:attribute type="xs:string" name="nextBackup" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdministrativeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Authors"/>
        <xs:element ref="ContactPersons"/>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="Date"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExperimentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InputData"/>
        <xs:element ref="TransformationScripts"/>
        <xs:element ref="ResultData"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="storedAt"/>
      <xs:attribute type="xs:short" name="volumeInKB"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntelectualPropertyRights">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name"/>
          <xs:attribute type="xs:string" name="link"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ethics">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="storedUntil"/>
        <xs:element ref="encryption"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="personalData"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Backups">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Backup" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataManagementPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="AdministrativeData"/>
        <xs:element ref="ExperimentData"/>
        <xs:element ref="IntelectualPropertyRights"/>
        <xs:element ref="Ethics"/>
        <xs:element ref="Backups"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>